@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@keyframes rotate-forward {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-backward {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.animate-rotate-forward {
    animation: rotate-forward 2s linear infinite;
}

.animate-rotate-backward {
    animation: rotate-backward 2s linear infinite;
}
